/* .example-spacer {
  flex: 1 1 auto;
}

.example-container {
  width: 100%;
  height: 1000px;
  margin: 10px;
} */

/* ul {
  padding: 2%;
  list-style: none;
}

li {
  padding: 10%;
  margin: 30px 20px 10px 20px;
  border: 0.1px solid whitesmoke;
}

li:hover {
  color: white;
  background-color: brown;
} */

.example-container {
  width: 100%;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  justify-content: space-between;
}

.example-sidenav {
  padding: 20px;
}
ul {
  box-shadow: 2px 2px #888888;
}
