<app-header></app-header>
 
<div class="flex-container">
    <div class="row">
        <div class="col-5 d-flex ">
            <img src="https://trydo.rainbowit.net/assets/images/about/about-1.jpg" alt="">
        </div>
        
        <div class="col-7 d-warp">
            <h1>About</h1>
            <p>There are many variations of passages of Lorem Ipsum available, but the <br> majority have suffered alteration in some form, by injected humour, or <br> randomised words which dont look even slightly believable. If you are going to <br> use a passage of Lorem Ipsum</p>
            
            <br><br>
            <div class="flex2 d-flex">
                <div class="col-6 d-warp">
                    <h2>Who we are</h2>
                    <p>There are many vtions of passages <br> of Lorem Ipsum available, but <br>the majority have suffered.</p>
                </div>
                <div class="col-6 d-warp">
                    <h2>Who we are</h2>
                    <p>There are many vtions of passages <br>of Lorem Ipsum available, but <br>the majority have suffered.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<br><br><br><br>

<div class="container1">
    <div class="row1">
                <div class="col p-2"> <img src="https://trydo.rainbowit.net/assets/images/brand/brand-01.png" alt=""></div>
                <div class="col p-2"> <img src="https://trydo.rainbowit.net/assets/images/brand/brand-02.png" alt=""></div>
                <div class="col p-2"><img src="https://trydo.rainbowit.net/assets/images/brand/brand-03.png" alt=""></div>
                <div class="col p-2"> <img src="https://trydo.rainbowit.net/assets/images/brand/brand-04.png" alt=""></div>
                <div class="col p-2"> <img src="https://trydo.rainbowit.net/assets/images/brand/brand-05.png" alt=""></div>
        </div>
        <div class="row2">
            <div class="col p-2"><img src="https://trydo.rainbowit.net/assets/images/brand/brand-06.png" alt=""></div>
                <div class="col p-2"><img src="https://trydo.rainbowit.net/assets/images/brand/brand-02.png" alt=""></div>
                <div class="col p-2"><img src="https://trydo.rainbowit.net/assets/images/brand/brand-03.png" alt=""></div>
                <div class="col p-2"><img src="https://trydo.rainbowit.net/assets/images/brand/brand-04.png" alt=""></div>

        </div>
    </div>

    
 <app-footer></app-footer>

   
