<div class="responsive-container-block bigContainer">
  <p>
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sit consequuntur,
    eos dolore suscipit quibusdam voluptatum labore impedit mollitia asperiores
    vitae quaerat recusandae dolorem cupiditate laborum debitis corrupti
    sapiente quidem iusto voluptas necessitatibus ut excepturi. Impedit
    consectetur saepe ipsum similique suscipit cupiditate, perferendis expedita
    dolorum accusantium consequatur dicta iste. Nam optio, dolorum illo
    obcaecati adipisci beatae, eius maxime quos pariatur, harum consequuntur
    facilis numquam ullam aspernatur perspiciatis magnam. Vitae quod non et enim
    obcaecati commodi dignissimos quam. Exercitationem voluptas neque debitis
    cupiditate enim, sequi pariatur ullam repellendus nesciunt iusto voluptates
    voluptatum maxime nobis fugiat non consectetur, modi reiciendis optio
    commodi. Nobis.
  </p>
</div>
