<div class="banner">
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="https://trydo.rainbowit.net/assets/images/logo/logo.png" alt="">
            </a>
          </div>
          <div class="container1">
          <div class="d-flex flex-row bd-highlight mb-3">
           <div class="p-2 bd-highlight">Home</div>
            <div class="p-2 bd-highlight">Service</div>
            <div class="p-2 bd-highlight">About</div>
            <div class="p-2 bd-highlight">Pages</div>
            <div class="p-2 bd-highlight">Blocks</div>
            <div class="p-2 bd-highlight">Contact</div>
            </div>
            </div>
     <a routerLink="/loginpage"><button class="btn navbar-btn" >Log Out</button></a>
        </div>
      </nav>
      <br>
      <br><br><br><br>
      <div class="container2">
      
          <h1 class="grad">A DIGITAL <br> AGENCY.
          </h1>
          <br><br><br>
    
          <div class="flex-container">
            <div class="flex-item1"> 
              <img src="https://trydo.rainbowit.net/assets/images/icons/icon-01.png" alt="">
              <br><br>
              <h4>Business Strategy</h4><br>
              <p>There are many variations of passages of <br>Lorem Ipsum available, but the majority <br> have suffered.</p>
            </div>
            <div class="flex-item2">
              <img src="https://trydo.rainbowit.net/assets/images/icons/icon-02.png" alt="">
              <br><br>
              <h4>Website Developement</h4><br>
              <p>There are many variations of passages of <br>Lorem Ipsum available, but the majority <br>have suffered.</p>
            </div>
            <div class="flex-item3">
              <img src="https://trydo.rainbowit.net/assets/images/icons/icon-03.png" alt="">
              <br><br>
              <h4>Marketing And Reporting</h4><br>
              <p>There are many variations of passages of <br>Lorem Ipsum available, but the majority <br>have suffered.</p>
            </div>
          </div>
       
      </div>
      <br>
      <br><br><br><br><br><br>
      </div>
    
