<div class="d-flex flex-row bd-highlight mb-3">
    <div class="cont">
    <div class="p-2 bd-highlight">
        <h6>READY TO DO THIS</h6>
            <H1>Let's get <br>to work</H1>
            <button class="btn navbar-btn">CONTACT US</button>
    </div>
    </div>
    <div class="cont2 d-flex ">
    <div class="left p-2 bd-highlight">
        <h3>Quick Link</h3><br>
        <p>Work</p> <br>
        <p>About</p> <br>
        <p>Lrt's Talk</p> <br>
    </div>
    <div class="right p-2 bd-highlight">
        <h3>Say Hello</h3> <br>
        <p>admin@example.com</p> <br>
        <p>hr@example.com</p> <br>
    </div>
  </div>
  </div>
      
