.flex-container{
    display: flex;
    flex-wrap: wrap;
}
h1{
    color: white;
    font-size: 80px;
    font-weight: bolder;
}
h6{
    color: white;
}
.btn{
    color: white;
}
.col1{
    padding: 0%;
}
.cont{
    padding-top: 8%;
    padding-right: 18%;
    padding-left: 10%;
    padding-bottom: 3%;
    background-color: red;
    background-image: url("https://trydo.rainbowit.net/assets/images/pattern-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    
}
p-2::after{
    background-image: url("https://trydo.rainbowit.net/assets/images/logo/big-logo.png");
    background-repeat: no-repeat;


}
.cont2{
    padding-top: 6%;
    padding-right:23%;
    padding-left: 8%;
    padding-bottom: 1%;
    background-repeat: repeat;
    background-size: cover;
    background-image: url("https://trydo.rainbowit.net/assets/images/bg/bg-image-8.jpg");
    position: relative;
}
h3,p{
    color: white;
}
.left{
    margin-top: 10%;
    margin-right: 25%;
}
.right{
    margin-top: 10%;
    margin-left: 25%;
}
