<div class="container mt-4">
    <form [formGroup]="Firstform" (ngSubmit)="addInfo()">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>NAME</mat-label>
                <input matInput placeholder="Enter Name" formControlName="name">
                <mat-icon matSuffix>person</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>DESIGNATION</mat-label>
                <input matInput placeholder="Enter Designation" formControlName="designation">
                <mat-icon matSuffix>badge</mat-icon>
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="outline">
                <mat-label>PHONE NUMBER</mat-label>
                <input matInput placeholder="Enter Phone Number" type="number" formControlName="phoneNo">
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
        </p>
        <p class="d-flex justify-content-center" style="gap: 35px;">
            <button class="btn btn-success" type="submit" [disabled]="Firstform.invalid">SUBMIT</button>
            <button class="btn btn-danger" mat-dialog-close="">CANCLE</button>
        </p>
    </form>
</div>