<div class="container mt-2">
    <h2 style="text-align:center; font-weight: 900; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        PROFILE
    </h2>
    <div class="card">
        <img class="rounded-circle class m-2" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA_0H03f9SAD7xRhoEhKzbb0JVhpR-ZluMGQ&usqp=CAU">
        <h1>ADITYA SHARMA</h1>
        <p class="title">Software Developer</p>
        <p>ABESIT, Ghaziabad</p>
    </div>
</div>
<mat-toolbar>
    <button class=" btn btn-light" routerLink="" style="color: rgb(0, 0, 0);" mat-dialog-close="">LOGOUT</button>
</mat-toolbar>